[2015-06-18 17:12] ngeorgieff opened #1 "Puppet fails when using tar.gz"
[root@is-lab-p01 tests]# cat init.pp
class { 'oracle_java':
  version => '7u80',
  type    => 'jdk',
  format  => 'tar.gz',
  check_checksum  => false,
}

[root@is-lab-p01 tests]# puppet apply init.pp
Warning: Config file /etc/puppet/hiera.yaml not found, using Hiera defaults
Notice: Compiled catalog for is-lab-p01.it.ucla.edu in environment lab in 0.82 seconds

Error: Cannot alias Archive[extract

[2015-06-18 19:06] antoineco commented on #1
Hm, looks like some upstream changes broke my module :) Thanks for
reporting, I'm on it.

ngeorgieff <notifications@github.com> schrieb am Do., 18. Juni 2015 19:12:

[2015-06-18 19:14] antoineco commented on #1
Hm, looks like some upstream changes broke my module :) Version 0.3.0 of [nanliu-archive](https://forge.puppetlabs.com/nanliu/archive/changelog) more specifically.

Thanks for reporting, I'm on it.

[2015-06-18 21:31] antoineco commented on #1
Fix released in 2.2.5!

[2015-06-18 21:31] #1 closed

[2015-06-18 21:32] ngeorgieff commented on #1
Thank you for the lightning fix!

[2015-06-18 21:46] antoineco commented on #1
Too fast apparently, I broke something with a typo. Use v2.2.6 instead

[2015-06-25 11:15] not-known opened #2 "Download behind http proxy"
The download does not work from from behind an http proxy. Is it possible to make this configurable, or like other modules use the systems wget with its own independent proxy config?
Other less preferred option is to add a custom source so we can pre download the jdk files and make them available internally.
The module is worth using, so thank you!

[2015-06-25 16:33] antoineco commented on #2
That's a relevant question. I'm using a dependency to fetch the archives and do the checksum validation, I'll file an issue upstream and see how this could be handled.

[2015-07-07 14:54] antoineco commented on #2
Hey @not-known, the [module I depend on](https://github.com/nanliu/puppet-archive) does not allow users to create GitHub Issues, so I guess I'll have to put my hands in the Ruby code.

Under the hood it uses a gem called Faraday, which supports http proxies so this is definitely doable but I can't really tell you how long I need.

Are you still interested or did you find a workaround?

[2015-07-07 19:20] not-known commented on #2
Hi @antoineco well yes sure. At the moment I provision my java based servers still by hand. The other existing modules for Oracle java do not fit my needs or have a codebase of doubtful quality. When you can fix it with a little Ruby code, that perfectly fine by me. I'm not in a hurry (3 weeks vacation starting next week) so take your time. Thanks for your support.

[2015-07-07 19:32] peceka opened #3 "More then one java package"
Hi!
There would be nice to have possibility to install more the one package of java on node. :)

Regards,
p.

[2015-07-17 23:09] antoineco commented on #3
Took me some time, but there it is! It's arguably not elegant but at least consistent with the main class.

Example of use:

[code]

Feedback would be appreciated before merging.

[2015-07-23 11:47] antoineco commented on #3
@peceka did you find the time to try the feature?

[2015-07-27 21:42] #3 closed

[2015-07-27 22:13] antoineco commented on #2
Hi @not-known, I have good news for you, `nanliu-archive` now supports `wget` as a provider alongside `ruby` (puppet-community/puppet-archive#60) so everything should work out of the box :+1:

I have to wait for the next version (puppet-community/puppet-archive#62) to be released on the Forge in order to be able to push a new version on my side, but if installing modules from GitHub is an option f

[2015-08-04 18:55] not-known commented on #2
Hi @antoineco, that's is good news. I'll wait a little while to see if it will be released to forge soon so it won't break the module versioning. If not i'll patch the module myself.
Thanks for the support!

[2015-08-12 09:19] col-panic opened #5 "Add JAVA_HOME environment variable"
Could you add support as for automated setting of the required environment variables? E.g. JAVA_HOME

thanks

[2015-08-12 10:03] antoineco commented on #5
I could, how would you proceed? Adding it to `profile.d` only works for shell sessions, and `/etc/environment` still requires to log-in.

I'm open to whatever sounds right for you.

[2015-08-12 10:23] col-panic opened #6 "Remove tar.gz after install"
If I see it right, the tar.gz containig the jre is not removed after install.

thanks

[2015-08-12 10:25] col-panic commented on #5
This should be pretty easy to achieve, at least in Debian, by using the https://wiki.debian.org/DebianAlternatives - i just added it with the following command

update-alternatives --install /usr/bin/java java /usr/java/jre1.8.0_51/bin/java 100

[2015-08-12 10:38] col-panic commented on #5
sorry, thats not a solution for JAVA_HOME ... just a start ;) I will look whether I find a good solution!

[2015-08-12 10:42] col-panic commented on #5
http://blog.andrewbeacock.com/2007/11/how-to-add-system-wide-environment.html maybe /etc/environment is a start

[2015-08-12 14:23] antoineco commented on #6
That should fix it

[2015-08-12 14:23] #6 closed

[2015-08-17 09:22] maecval opened #7 "unable to install Java 8u51"
Hi all,

The configuration/setup for Java 8u51 seems not to be complete.
It can not be installed successfully.
I guess the entries in manifests/installation.pp are missing.

Regards,
maecval

[2015-08-17 09:37] antoineco commented on #7
That's correct,.thanks for reporting

[2015-08-20 12:27] maecval opened #8 "failure when installing multiple JDKs and defining add_alternative"
Hi all,

The installation fails when using the following definition:
[code]
For details about errors see end of this report.

It succeeds if the "add_alternative => true" is not used in the "8u45" section.
i.e.
[code]
**What's my mistake?**

Regards,
maecval

Details:
Failures (when using "add_alternative => true"):
[code]

[2015-08-20 13:04] antoineco commented on #8
It looks like a dependency issue, thanks for reporting

[2015-08-20 13:14] maecval commented on #8
Any clue when the release containing the fixes for the latest 2 issues will be available?

[2015-08-20 14:28] antoineco commented on #8
Yes, I release it tomorrow :)

[2015-08-20 22:20] #8 closed

[2015-08-20 22:20] #7 closed

[2015-08-20 22:53] antoineco commented on #5
Released in v2.4.0

[2015-08-20 22:53] #5 closed

[2015-08-24 07:10] maecval commented on #8
Great!
Thanks a lot!

[2015-08-27 12:33] col-panic opened #9 "Automated update?"
Will the plugin automatically update my java version? I

started with your plugin and it installed java version "1.8.0_51" but now 1.8.0_60 is available and it was not updated. Will this happen automatically?

[2015-08-27 12:49] antoineco commented on #9
Only if your java version is set to '8' (as opposed to a specific version like '8u51') and you update the module when I release a version including 8u60 (probably today).

If you don't update the module or use a fixed java version, it won't update java.

[2015-08-27 13:02] col-panic commented on #9
Okay, I only set include oracle_java - so  I have to define a full set like
class { 'oracle_java':
  version => 8
}
in order to get the update functionality?!

[2015-08-27 13:03] col-panic commented on #9
ah, sry for that I see .. i will have to fetch 2.4.1 :)

[2015-08-27 19:57] antoineco commented on #9
Freshly pushed to the Forge, grab it while it's hot :)

[2015-08-31 05:54] col-panic commented on #9
Unfortunately the update did not work ... it is still serving java version "1.8.0_51" although I grabbed your newest version?!

[2015-08-31 07:06] antoineco commented on #9
The update should happen, could you tell me more about your setup?

Here is the protocol I followed on my test environment, based on Fedora 22:

[code]

[2015-08-31 10:30] col-panic commented on #9
Do I have to re-apply the oracle_java class? I have it as part of my default site.pp and after an update to 2.4.1 the puppet nodes do not update. An execution of

[code]

on the managed puppet node does result in

[code]

so nothing happens here.

[2015-08-31 10:50] antoineco commented on #9
You don't have to do anything if it's part of your site.pp.

The error is normal since your node fetches its catalog from the master. `puppet apply` only works if the module is installed locally.

It seems like a caching issue to me. Did you set an [environment_timeout](https://docs.puppetlabs.com/references/latest/configuration.html#environmenttimeout) by any chance? What happens if you restart y

[2015-08-31 11:03] col-panic commented on #9
A restartet of the master did not change the situation, this is my /usr/java

[code]

I did not set environment_timeout, it's a plain debian install. puppet run is not available on the node

[code]

[2015-08-31 11:49] antoineco commented on #9
It was a typo, my bad. I edited my comment.

Can you also show me the output of `puppet module list --tree` on the master?

[2015-08-31 11:50] col-panic commented on #9
Here you go

[code]

[2015-08-31 11:55] antoineco commented on #9
All dependencies look good. You didn't set `version => '8u51'` anywhere right? site.pp, hiera, ENC, ...
If not a caching issue I don't see what it could be.

[2015-08-31 12:03] col-panic commented on #9
I think it might be due to my puppet configuration! I will re-check!
thanks for your help!!!

Antoine Cotten schrieb:

[2015-08-31 12:09] col-panic commented on #9
It was a configuration failure, and the update worked now, it does however not set the new version as default

[code]

[2015-08-31 17:18] #9 closed

[2015-08-31 17:31] antoineco commented on #9
What is the output of `which java` and `alternatives --display java`?

You might have to set the `add_alternative` parameter for that. If it's already set, make sure the alternative mode is set to "auto" (`alternatives --auto java`). Maybe it's disabled by default on Debian, I'll check that tonight.

Thanks for the input!

[2015-09-02 11:36] col-panic commented on #9
my debian output is as follows

[code]

it is also the case, that the update resp. the install did not remove the old version

[2015-09-02 14:30] antoineco commented on #9
The old versions are not removed to avoid force-uninstalling things that were not created by Puppet. It's a good practice to implement your own cleaners if you want to get rid of artifacts.

Regarding the alternative, you have to set the `add_alternative` class parameter to `true`. Apparently you did it the first time but removed it afterwards, so 8u60 was not added to the list.

[2015-11-25 07:13] maecval opened #12 "evaluatin of optional parameter is broken"
Hi
I just wanted to run our script today and got the following error message:
[code]

Quickly checked the sources and found out that the '$format_real' does not get set at all in my "ubuntu" case.

the config used:
[code]
Regards,
maecval

[2015-11-25 07:19] antoineco commented on #12
Nice catch, the "non RPM os" block disappeared in my last commit. I'll push a fix in 1h, thanks for reporting!

[2015-11-25 07:32] maecval commented on #12
Cool!
Cheers!

[2015-11-25 08:42] antoineco commented on #12
v2.5.1 pushed to the Forge

[2015-11-25 08:42] #12 closed

[2015-12-04 13:56] antoineco commented on #2
@not-known wget support is finally here https://forge.puppetlabs.com/puppet/archive/changelog :tada:

[2015-12-06 14:17] #2 closed

[2016-03-08 12:24] jguilhermemv opened #16 "Add support to JRE/JDK 6 version"
The module doesn't support any version older than 7th. However, many enviroments, specially production ones for legacy systems still use Java 6 (u22 specifically) or even 5, for example.

Additionally, the module doesn't execute any source command when setting enviroment variables with Augeas, so when a project is provisioned the enviroment variable is not accessible and require a new ssh session

[2016-03-08 16:47] antoineco commented on #16
Java 6 support was [removed from v2.0.0](https://github.com/antoineco/aco-oracle_java/commit/ae945edb616ca2ea76e7b1b3aad0a406fa0f18c4) because the format of the file name was different, and the way it was packaged extremely hacky. That said it shouldn't be too hard to restore it, I'm just not a big fan of supporting deprecated technology. I mean, who uses Puppet **and** Java 6? Just kidding ;)

Re

[2016-03-08 18:06] jguilhermemv commented on #16
You're right saying that "no one shoud be using a deprecated technology". Well, for new projects that might true. However, in my experience with systems in production, companies aren't keen on changing stable enviroments — even ones using deprecated Java or JBoss versions — because it's too risky to make this move. Unless you want your module to be used only for really recent projects, it's ok, it

[2016-03-08 18:40] antoineco commented on #16
I totally agree with the fact that I should support java 6 (I won't support java 5 however). I wrongly assumed nobody would use it because I've never faced the situation, and since I wanted to clean up my module I removed it. But it's a good suggestion.

Regarding java in the PATH, it's indirectly supported using the `add_alternative` parameter, which will ensure a symlink to the Java binaries is

[2016-03-08 18:54] jguilhermemv commented on #16
How so?

[2016-03-08 19:15] antoineco commented on #16
Debian and Red Hat both support the "alternatives" system which allows you to easily switch versions of executables installed on the system. My module uses it to set /usr/bin/java without overwriting another installed version. Give it a try (the flag defaults to false)

[2016-03-10 14:58] jguilhermemv commented on #16
@antoineco all right. Would you let me to fork this project to put the JDK6 support back and then I make a pull request for your acceptance?

[2016-03-10 15:08] antoineco commented on #16
Of course, all contributions are welcome

[2016-03-23 15:14] robachmann commented on #16
@jguilhermemv I just came across an environment where I'd like to install JDK 6 (1.6.0_45) with puppet. Have you already made any progress in this matter?

[2016-03-23 15:19] jguilhermemv commented on #16
@240ch Yes. I've forked the project [here](https://github.com/jguilhermemv/aco-oracle_java) and solved this issue. In a few days I expect to send a pull request to @antoineco.

[2016-03-23 17:27] robachmann commented on #16
@jguilhermemv fantastic news, thank you very much. I'm looking forward to the merge.

[2016-03-31 22:23] antoineco commented on #16
I'm working on restoring support for Java 6 in the PR referenced above :point_up:
Only Java 6u45 (the latest) is supported so far, but this is probably enough.

Please checkout the `java6` branch and give me feedback if possible. I ran the following tests manually on CentOS 7 and everything worked as expected:

[code]

[code]

[2016-04-04 11:09] robachmann commented on #16
@antoineco thanks, I'd love to test it. But as I'm not that familiar with puppet, would you mind explaining me briefly, how to do that? I define the details of the JDK installations in `/etc/puppet/manifests/site.pp` as follows:

[code]

then I simply call `sudo puppet module install aco-oracle_java --version 2.4.1` and set JAVA_HOME afterwards manually.

Your lines above throw this error:

[code]

[2016-04-04 15:41] antoineco commented on #16
@240ch it looks like the module is not in your modulepath, you can check with `puppet module list`. If you cloned the git repo you have to make sure you did it inside `$modulepath/oracle_java`, and that the dependencies required by my module are present on the system. Write me per email directly if you need support :)

[2016-04-27 15:59] dalesit opened #18 "Conflicts on the archive module"
I've run into a conflict with other modules' dependency on camptocamp's archive module, and this module's dependency on the puppetlabs-archive module.

[code]
The only workaround I can think of is to use a separate environment for the servers that need Oracle-java installing. As far as I can see, the camptocamp-archive module doesn't allow the cookie to be set that allows you to download the archi

[2016-04-27 17:16] antoineco commented on #18
Hey Joel,

Thanks for reporting that. This is a pretty bad design within Puppet indeed, modules with the same name can't live together in the same environment since the namespace (author) is not taken into account.

Playing with environments could be an option but as far as I remember agents can execute only one environment at a time, so you won't be able to include everything.

Your best luck is

[2016-05-04 11:33] dalesit commented on #18
I've created an environment  with minimal modules, specifically for the server that will be requiring this module:

[code]

So far the manifest is completely basic:

[code]

However it is erroring with
`Error: Could not retrieve catalog from remote server: Error 400 on SERVER: no parameter named 'provider' at /etc/puppetlabs/code/environments/Atlassian/modules/oracle_java/manifests/download.pp:42

[2016-05-04 12:12] dalesit commented on #18
Update - if I restart puppetserver to clear the cache, the first time it runs it errors with:

[code]

Which I think points to an error with missing faraday - not needed with puppet-archive >5.0.0

[2016-05-04 12:57] antoineco commented on #18
Looks like a version conflict indeed, the error points out to the `production` environment instead of `Atlassian`, this should never happen:

[code]

I tested my module with this setup, and it worked despite the warning, so v0.5 of puppet-archive shouldn't be the culprit:

[code]

[2016-05-04 14:46] dalesit commented on #18
I think it is more that puppet-archive <0.5.0 has a dependency on faraday, but not for version 0.5.0 and greater.

I've tried upgrading puppet-archive to 0.5.1 and am now getting the error:

[code]

which at least is not going out of the environment....

[2016-05-04 15:58] antoineco commented on #18
But how could a dependency on a gem change the behaviour of the entire module? Whether a version depends on Faraday or not shouldn't change anything, the behaviour should be consistent.

I can't reproduce in a clean environment unfortunately, but I suspect some caching issues of conflicting modules in the global module path.

[2016-06-23 01:01] ngeorgieff opened #19 "No parameter named 'provider'"
I'm getting "no parameter named 'provider' if I run puppet agent -t but it works if I use puppet apply.
PE 2016.2
RHEL 7

[root@is-engineering-t01 manifests]# puppet agent -t
Notice: Local environment: 'production' doesn't match server specified node environment 'lab', switching agent to 'lab'.
Info: Retrieving pluginfacts
Info: Retrieving plugin
Info: Loading facts
Error: Could not retrieve catal

[2016-06-23 18:11] ngeorgieff commented on #18
I have exactly the same issue. If I clear the cache it complains about faraday and then on the second run:

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: no parameter named 'provider' at /etc/puppetlabs/code/environments/lab/modules/oracle_java/manifests/download.pp:42 on Archive[/usr/java/jre-8u92-linux-x64.tar.gz] at /etc/puppetlabs/code/environments/lab/modules/orac

[2016-06-23 19:04] antoineco commented on #18
This confuses me, the documentation of the aforementioned module clearly states that this parameter is available. If anyone has the chance to investigate in his/her own environment I'd be very grateful.

[2016-06-27 20:23] #16 closed

[2016-06-27 20:54] antoineco commented on #18
The conversation about the faraday issue continues in #19

[2016-06-27 20:54] #18 closed

[2016-06-27 21:07] antoineco commented on #19
I think the fact that you're using Puppet **Enterprise** makes a real difference. Gems are not installed in the same manner in Puppet OSS and Enterprise.

Check this out: https://github.com/voxpupuli/puppet-archive/pull/121
And the deletions in the `params.pp` file here: https://github.com/voxpupuli/puppet-archive/commit/424920045916af95d0a20b5ed5022b721a2f3876#diff-2f383a197b1a428561b364755701d60

[2016-07-19 19:58] antoineco commented on #18
@dalesit this should be fixed in `puppet/archive` v1.0.0. Please also update to `aco/oracle_java` v2.7.0 if possible, to avoid warnings on dependency versions.

[2016-07-19 19:59] antoineco commented on #19
@ngeorgieff this should be fixed in `puppet/archive` v1.0.0. Please also update to `aco/oracle_java` v2.7.0 if possible, to avoid warnings on dependency versions.

Could you please confirm whenever you find the time to test it?

[2016-07-19 21:42] ngeorgieff commented on #19
@antoineco Thank you very much for your help. I will update to the latest version.

[2016-07-21 10:54] itsnotify opened #20 "Version 2.7.0 adds support for Java 8u101 but the version validation check fails"
Hi,

I've just updated to the latest version of the module and tried to deploy Java version "8u101"

Puppet is erroring with:

`Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Function Call, $version must be formated as 'major'u'minor' or just 'major' at /etc/puppetl

[2016-07-21 12:52] antoineco commented on #20
Uh oh, this fish got through the net apparently! For the first time in history a Java version has 3 digits, thanks for noticing the regexp was not matching that new case.

I'll push a hotfix in one hour or so.

[2016-07-21 12:58] ghost commented on #20
No problem :) Thanks for producing such a great Puppet Module!

[2016-07-21 13:34] #20 closed

[2016-07-21 13:46] antoineco commented on #20
Upgrading the module to the hotfix version with `puppet module upgrade aco/oracle_java --version=2.7.0-hf` fixes the issue.

[code]

[2016-07-22 09:28] itsnotify opened #21 "Reintroduced Java 6 Support Doesn't work"
Hi,

I have one, possibly two issues with the module...

We have some build agents which require Java 6, 7 and 8 to be installed.

Previously I've been using this module to install 7 and 8 and the Puppetlabs module to install Java 6. This was working fine until I updated the module for version 101.

Then I started having Puppet reporting:
`Notice: /Stage[main]/Oracle_java::Install::Rpm/Package[jdk

[2016-07-22 09:49] ghost commented on #21
Ah... I've just noticed the Change Logs states: (main installation only) for Java 6...

So presumably I can't install using the above then? That's also likely why the module is now incorrectly detecting Java 6 rpms...

So `Notice: /Stage[main]/Oracle_java::Install::Rpm/Package[jdk]/ensure: current_value 2000:1.6.0_45-fcs, should be 2000:1.8.0_101-fcs (noop)`

on every run now sees both the Java 6

[2016-07-22 13:25] antoineco commented on #21
As you noticed the support for Java 6 was provided on a best-effort basis in this release, that's why it can only be installed in the main class. Either using the Rpm or tar.gz distribution, but still only using the main class. I could add it to the `installation` type if there is a use case for it of course.

The last example you posted is correct, and if your `java` alternative is set to 'auto'

[2016-07-22 13:27] #19 closed

[2016-07-22 15:18] ghost commented on #21
This is a curious limitation for the modules rpm version given Oracle keeps the RPM versioning for the packages very specific.

E.g. jdk1.8.0_101 is the rpm name and not jdk. Oracle's packaging means you can't yum update between Oracle Java minor versions because the packages include the minor version in the name.

So on my server for example:
rpm -qa | grep jdk
jdk-1.6.0_45-fcs.x86_64
jdk1.8.0_10

[2016-07-22 16:33] antoineco commented on #21
Oracle changed the rpm naming in the Java 8u20 release, the package name is actually defined in the [init class](https://github.com/antoineco/aco-oracle_java/blob/master/manifests/init.pp#L137-L142). The problem arises for all versions **before** 8u20, where the package name is just `jre`/`jdk`, making it impossible to collocate multiple Java installations on the same machine. Therefore extra inst

[2016-07-25 09:17] ghost commented on #21
Thanks for the explanation.

I'll look forward to 2.7.1. It's much appreciated!

[2016-07-30 17:05] antoineco commented on #21
Fixed in [v2.7.1](https://github.com/antoineco/aco-oracle_java/releases/tag/2.7.1)

[2016-07-30 17:05] #21 closed

[2016-08-01 13:14] ghost commented on #21
Nice one! Thanks :) I've already upgraded and confirmed it works perfectly.

[2016-08-26 12:34] looppair opened #22 "Does not work on Fedora 24"
I did simply `include oracle_java`, and got the following error message:

Error: Could not autoload puppet/type/archive: Could not autoload puppet/provider/archive/ruby: Unable to find archive module in modulepath /etc/puppet/modules:/opt/puppetlabs/puppet/modules
Error: Evaluation Error: Error while evaluating a Resource Statement, Could not autoload puppet/type/archive: Could not autoload puppet

[2016-08-26 12:50] looppair opened #23 "Does not automatically resolve latest version"
The [manifest](https://github.com/antoineco/aco-oracle_java/blob/a258a7029b92230dadc483829d98ba9e9c6c5bb9/manifests/init.pp#L78-L87) hard codes the latest version of Java rather than [getting it dynamically](http://stackoverflow.com/questions/12952699/java-check-latest-version-programatically). This means it's necessary to update this module to get the latest security and other updates.

[2016-08-26 12:55] antoineco commented on #22
I can not reproduce on a fresh Fedora 24, could you describe your environment in more details?
- What version of Puppet are you using?
- From which repo?
- Did you override the modulepath somewhere?

##

Here is my test log. I used Docker to start a bare OS.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2016-08-26 13:35] antoineco commented on #23
I'm with you, that's something I've been willing to make possible, however polling http://java.com/en/download/installed8.jsp is not enough.

When Oracle releases a new version of Java, they distribute it with a _build number_ which changes [in each release](https://github.com/antoineco/aco-oracle_java/blob/master/manifests/javalist.pp#L15-L33). This build number is needed in order to compose the

[2016-08-26 14:11] antoineco commented on #23
(side note: there is a bug in the behavior I described. In [this file](https://github.com/antoineco/aco-oracle_java/blob/master/manifests/install/rpm.pp#L15) the `filename` variable is not set properly when `custom_download_url` is defined and differs from `version`. Good that you raised the issue 😃)

[2016-08-26 16:03] looppair commented on #22
Please see my updated post for answers.

[2016-08-26 16:23] antoineco commented on #22
My guess is that during the update Puppet's modulepath was changed to `/etc/puppet/modules:/opt/puppetlabs/puppet/modules`, but your modules are in none of these directories.

I would compare the output of `puppet config print modulepath` and the content of the `puppet.conf` file if I were you. You could also try to reinstall these 3 modules, that should naturally fix the issue.

[2016-08-26 17:59] antoineco commented on #22
Sorry, I missed that detail about your modules lying inside your home directory. In that case what I said makes even more sense, if your home directory is not inside Puppet's `modulepath` or `basemodulepath` it can simply not work. Unfortunately that's nothing this module can change.

Please refer to: https://docs.puppet.com/puppet/latest/reference/configuration.html#basemodulepath and https://doc

[2016-08-26 17:59] #22 closed

[2016-10-04 09:51] #23 closed

[2016-11-11 16:05] staylorx opened #26 "Archive version no longer supports 'provider' parameter"
V2.7.2 pulls in the latest 1.1.2 and this version no longer supports the 'provider' parameter. I removed it manually from the download.pp file and the manifest runs as expected.

[code]

[2016-11-11 16:16] staylorx opened #27 "Alternatives does not provide the "latest" path"
For example,
1. Install JDK 8u101 which installs the jdk and sets /usr/java/default link to /usr/java/jdk1.8.0_101. It does not provide a '/usr/java/latest' path.
2. Set the latest path in a separate action.
3. Install JDK 8u111. Installs correctly to /usr/java/jdk1.8.111 and updates the default link. But the latest link still points to the old one.  This is expected since I created it manually, b

[2016-11-11 16:17] staylorx opened #28 "Would be nice to have an 'ensure => present/absent'"
I expected an 'ensure' parameter but didn't find one. Nice-to-have.

And again, thank you for the module.

[2016-11-11 16:27] antoineco commented on #27
Fair point, I've been wondering how I could implement that in a reliable manner actually :) The challenge is to make that link point to the actual latest version, and not the version which was installed last.

For example, I could install version 7, then version 8 in a separate installation, and yet another Java 7 in a third installation. Which class checks which version is the latest, which one c

[2016-11-11 16:36] antoineco commented on #28
Indeed, I've seen this pattern a while ago, some people used to state entire modules should be ensurable, some others disagreed. In general I would agree with the idea as long as it doesn't introduce some unnecessary complexity (e.g. forcing the module to get split in "installer" and "uninstaller" classes.

Also this module includes some archive extraction for the _tag.gz_ installation type, and t

[2016-11-11 16:42] staylorx commented on #26
I've created a fork of this repo and simply pulled the provider parameter out since I'm always on the latest version. I'll keep going through the code until I understand what I'd break.

[2016-11-11 16:51] staylorx commented on #27
I've got an ansible role that has an optional parameter that defaults to true. If it's false, it doesn't set latest. If it's true then it simply sets the link. Sort of a "Do you want me to set a 'latest' link to this thing your setting?" That's about it. I've forked this and am working it out in my librarian. If I come up with something cool I'll let you know.

Writing it out, it does seem silly t

[2016-11-11 16:59] antoineco commented on #27
Isn't it what `default` is for? This link works as you described: it always points to the version installed by the main class. It allows you to create an alternative for `java` which does not necessarily point to the most recent version.

In the example below, `/use/java/default` points to Java 7, not Java 8;

[code]

[2016-11-11 17:04] antoineco commented on #26
I believe this was already reported in #19 and the issue was actually specific to Puppet **Enterprise**. The outcome was that the bug which caused this issue was fixed in the upstream _puppet-archive_ module, and that the `provider` parameter **does** actually exist there even in the latest version.

I installed a fresh Puppet OSS environment on Ubuntu 16.04 and executed the module, successfully (

[2016-12-06 21:43] markfaine commented on #26
Did you ever get to the bottom of this?  I'm also seeing this on RHEL 7 with Puppet OSS agent version  4.8.1 and a puppet server running 4.4.1.   I did not see this error on my VM which is Puppet OSS agent and server 4.8.1.  Puppet Archive is 1.1.2 on both the local VM and the RHEL 7 server.

[2016-12-06 22:08] antoineco commented on #26
I still can't reproduce this unfortunately, and it puzzles me. I really wish I could hit this issue in order to understand but as you can see below it just works for me on RHEL7 (and any other platform):

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2016-12-06 22:16] markfaine commented on #26
Yes, it's very strange.  I'm actually seeing it with Archive as a dependency of tomcat but I guess it's the same issue.   If there's anything I could provide that would help you see the issue more clearly let me know.  I know it's frustrating when you can't reproduce something.

[code]

[2016-12-06 22:16] antoineco commented on #26
Could somebody execute this manifest in an environment where the module fails? I would really appreciate if you could run `puppet apply` in debug mode (`-d` flag) and email me the full trace.

[code]

[2016-12-06 22:22] antoineco commented on #26
1. [This issue](https://github.com/voxpupuli/puppet-archive/issues/105#issuecomment-219806433) suggests a bug with the Puppet server. This would explain why I can't reproduce in serverless mode.
2. [This other issue](https://github.com/voxpupuli/puppet-archive/issues/225) seems relevant as well.

[2016-12-06 22:28] markfaine commented on #26
I will try to execute the manifest and send you some results.

[2016-12-06 22:31] antoineco commented on #26
If the problem is caused by the Puppet master `puppet apply <file.pp>` should succeed on the target machine, but keep failing in agent mode.

[2016-12-08 14:42] markfaine commented on #26
@antoineco Okay, if I run the manifest you provided using

[code]

However, it still fails when I run it normally with agent -t

[code]
I also noticed that if I run immediately after restarting the puppet server:

[code]
Running again after this error message produces the original no parameter named 'provider' message.

[2016-12-08 22:16] #26 closed

[2016-12-08 22:46] antoineco commented on #18
Workaround provided in 80cbc71dda5001bc408571bcac564a468e19a5c4

[2016-12-08 22:48] antoineco commented on #2
Reverted in 80cbc71dda5001bc408571bcac564a468e19a5c4

[2016-12-12 16:34] antoineco commented on #27
ping @staylorx.
What do you think about my suggestion to use the "default" symlink?

[2016-12-12 16:54] staylorx commented on #27
Thanks for the ping! The group I'm working with likes 'latest', but I'm starting to move more and more to 'default'. I think this can be closed. I was thinking maybe to save a step in the manifest to set 'latest', but that is specific to my installation not the general.

So long as setting 'default' is optional then I've got what I need. It's possible for me to stage SDK/JDKs ahead of switching th

[2016-12-13 09:07] antoineco commented on #27
Got it. In the case of an installation from a tar.gz archive the default symlink is always declared. Would it help if I made it optional using a Boolean parameter?

[2017-01-04 22:03] EhrMike opened #29 "Does this module have proxy support"
we need to provide proxy credentials for the downloads.  Is that possible with this module?

[2017-01-04 22:09] antoineco commented on #29
Not via module parameters directly, but on Linux it will use whatever proxy is configured for the operating system.

[2017-01-05 11:41] EhrMike commented on #29
Antoine,

Thanks for getting back to me.  I was able to add variables to your
init.pp, and use them in your download.pp.  I passed them in as additional
variables to call oracle_java.  It works well, as the archive module that
your module uses supports proxy.  Very nice module.  thanks for sharing it.

Mike

On Wed, Jan 4, 2017 at 4:09 PM, Antoine Cotten <notifications@github.com>
wrote:

class {

[2017-01-05 14:17] antoineco commented on #29
Great! That would certainly be a useful addition to the module. Would you like to submit a pull request with your changes? Otherwise I can with incorporate them myself from your example 👍

[2017-01-06 03:46] EhrMike commented on #29
Honestly, i have only been working in puppet for a few months.  I am just a
rookie in the devops world.  It would be better if you could add it.  If
you do, i will start using your module again.  Temporarily, i put a copy in
git and modified it.

Thanks again

On Thu, Jan 5, 2017 at 8:17 AM, Antoine Cotten <notifications@github.com>
wrote:

[2017-01-12 14:42] #29 closed

[2017-01-12 15:10] antoineco commented on #29
Changes released in [v2.7.4](https://forge.puppet.com/aco/oracle_java/2.7.4/readme)

[2017-01-16 11:50] rainer042 opened #30 "Found no way to install both jdk and jre (puppet "redeclaration" error)"
Hello,

I would like to install both jre and jdk on a system using oracle_java class (puppet 3.8.5), but I did not find a way to do this. Because classes are unique in puppet I cannot have two oracle_java class declarations, one for jre and the other for jdk installation.

Is there way to do this using oracle_java? if not then I think it would great to have such an option. If it is possible please

[2017-01-16 13:20] antoineco commented on #30
Hi Rainer,

You can do that using the `oracle_java::installation` type, just like in the example available in the module documentation. For your reference I'll copy it here:

[code]

Result:
[code]
That said, the Oracle JDK *always comes together with the corresponding JRE*, which is installed inside `/usr/java/jdk<version>/jre`.

Feel free to reopen the issue if you have any problem with the prop

[2017-01-16 13:20] #30 closed

[2017-01-18 00:38] antoineco commented on #23
@looppair starting from release 2.8.0 it is now slightly easier to update Java without updating the module. You still need to know the build number (and checksum if you enabled the check) but you don't have to pass the full URL to the corresponding archive anymore.

Feel free to look at the corresponding example in the documentation if you're still interested in this issue.

[2017-01-30 07:59] #27 closed

[2017-04-26 22:10] scobow opened #31 "curl -k to ignore certificate errors"
If you'd like to turn off curl's verification of the certificate, use the -k (or --insecure) option.

Error: /Stage[main]/Oracle_java::Download/Archive[/usr/java/jdk-u131-linux-x64.tar.gz]/ensure: change from absent to present failed: Execution of '/bin/curl https://repo.ournamegoeshere.net/repo/ourname-repo//jdk-u131-linux-x64.tar.gz -o /tmp/jdk-u131-linux-x64.tar.gz_75b2cb2249710d822a60f83e28860

[2017-04-27 03:55] scobow commented on #31
I missed the -k in the output,  the issue actually seems to be the following when I run them manually.  Its all the other stuff after the -k when you don't use oracle to download the package that causes the failure.

[code]

[2017-04-27 07:05] antoineco commented on #31
Regarding the certificate that's a fair point. The `puppet/archive` module I'm using takes a Boolean parameter called `allow_insecure` which can be used for that purpose.

Ideally it should be possible to enable/disable insecure handshakes via a class parameter:
[code]

The parameter can be added [here](https://github.com/antoineco/aco-oracle_java/blob/ced2dc5084f8aa7f987f7c47d82c3cc365e53628/mani

[2017-04-27 13:31] scobow commented on #31
Wait, I got it, here's what I did.
In my wrapper class that I put around your module, I added the following code:

[code]

That's was it.  So if you did add a boolean within your module then I wouldn't need the wrapper.

FYI I also added two files that we need which are the local_policy.jar and the US_export_policy.jar for stronger encryption placed in /usr/java/jdk*/jre/lib/security/

Now I'm goi

[2017-06-07 21:07] kuoirad opened #32 "Older Java versions now yield a "404 Not found""
Greetings,

I'm attempting to use this module to handle installation of JDK 7 onto some machines **(ETA: Ubuntu 14.04)**.  Last time I set up a machine and needed to do an install with this module, it worked.  When I attempted to bring a new machine up today, I got the following error:

`Error: Execution of '/usr/bin/curl http://download.oracle.com/otn-pub/java/jdk/7u80-b15/jdk-7u80-linux-x64.tar.

[2017-06-07 21:16] antoineco commented on #32
Hmm, looks like the Java archive portal is now redirecting to a "Sign in" page:
http://www.oracle.com/technetwork/java/javase/downloads/java-archive-downloads-javase7-521261.html

That would be very **very** unfortunate.

[2017-06-07 21:19] kuoirad commented on #32
Yeah, I noticed that for my manual download.

Question to get me moving for now while you figure out if it's fixable - if I untar the tar.gz I downloaded manually into the place I specified, will the module take care of the setting alternatives and all that other stuff?

[2017-06-07 21:28] antoineco commented on #32
If Oracle decided to give access to logged-in customers only this sounds like a problem I can't fix unfortunately :(
Oracle, come on!

If you extract your archive to `/usr/java/jdk1.7.0_80` the module will do the rest yes.

[2017-06-07 21:48] kuoirad commented on #32
Ok, thanks.  Let me know if I can help with any testing or information.

(Stupid Oracle...and stupid other software vendor for not working with OpenJDK...)

[2017-06-07 21:54] antoineco commented on #32
Maybe a hint: puppetlabs/puppetlabs-java#229

[2017-07-20 17:16] mtron commented on #32
Is it worth it adding user and pass params to auth against oracle's sso?

A proof of concept (taken from [typekpb/oradown](https://github.com/typekpb/oradown) ) to login and dl  7u80 using curl & xmllint. (Set ORACLEUSER and ORACLEPASS).

[code]
Although i doubt that the archive class would swallow crazy stuff like this :)

[2017-07-20 17:40] antoineco commented on #32
The user and password is a simple addition, but getting the value of OAM_REQ would require some custom function. It's a good suggestion though.

[2017-08-08 22:39] eric-aldinger opened #34 "Add Support For Apt Provider"
Thanks for this module.

I find I usually have this module fail due to Oracle website administration issues. I would rather use this module with Apt as the provider and ppa:webupd8team/java. What I have had to do lately is stop using aco-oracl_java on Ubuntu for some versions of Java.

[2017-08-08 22:41] eric-aldinger commented on #34
Oh, and support for a JCE resource would be nice as well. 256 bit AES encryption is a wonderful part of Java. :)

[2017-09-25 15:11] antoineco commented on #34
@eric-aldinger I'm not familiar with JCE but I can give it a try. However Oracle locked the Java archives completely for non-authenticated users which made my module completely useless now (edit: fixed in 2.9). Are you currently using it?

Would the PPA you referenced allow me to select which Java version I want to install?

[2017-09-25 18:59] eric-aldinger commented on #34
LOL! I made the assumption that the thing I use is known to all. Sorry.

JCE is the Java Cryptography Extension (JCE). This comes ina  limited strength and "Unlimited Strength Jurisdiction Policy." If a person lives in approved country (basically not Iran or China), they can download the harder to crack encryption tooling (128 or 256 bit encryption). This is always a pain in the butt to automate w

[2017-09-26 08:41] antoineco commented on #32
@mtron I'm giving a try at a Ruby implementation of the solution you suggested.

[2017-09-27 13:42] antoineco commented on #32
@mtron @kuoirad I have a working concept in the referenced branch. Some demo cases:

**1. Unauthenticated user / public file**
[code]

**2. Unauthenticated user / private file**
[code]

**3. Authenticated user / private file**
[code]

Would you mind testing for yourself and confirming this works as expected for you?

[2017-09-27 22:10] kuoirad commented on #32
Looks like it worked for me:

Info: Loading facts
Info: Loading facts
Info: Loading facts
Warning: /etc/puppetlabs/puppet/hiera.yaml: Use of 'hiera.yaml' version 3 is deprecated. It should be converted to version 5
   (in /etc/puppetlabs/puppet/hiera.yaml)
Info: Scope(Class[Oracle_java::Download]): File not found at http://download.oracle.com/otn-pub/java/jdk/7u80-b15/jdk-7u80-linux-x64.tar.gz
Inf

[2017-09-27 22:14] antoineco commented on #32
Thanks for the feedback, much appreciated :)

I'll make these debug messages less verbose and draft a new version then.

[2017-09-27 22:17] kuoirad commented on #32
Your timing was actually pretty excellent, I was re-imaging some machines today that needed a Java 7 JDK installed.  I'm still doing it semi-manually locally, but it's working nicely.

[2017-09-28 09:17] #32 closed

[2017-09-28 09:43] antoineco commented on #32
Released in [v2.9.0](https://forge.puppet.com/aco/oracle_java/2.9.0/changelog).

[2017-09-28 15:25] mtron commented on #32
Works here too.

Thanks @antoineco Very useful :+1:

[2017-09-28 15:30] kuoirad commented on #32
Thanks, @antoineco .

[2017-10-24 08:04] noqqe opened #37 "New SSO function leads to failing puppet runs"
Hi,

since v2.9.X the runs fail. Downgraded to v.2.8.3 makes the module work again

[code]

[2017-10-24 08:09] antoineco commented on #37
Hi @noqqe, could you indicate which Ruby and Puppet client/server versions you're using?

[2017-10-24 08:22] noqqe commented on #37
Hi @antoineco

I'm using puppet 4.10.7 on Debian Jessie (PC1) with builtin ruby version 2.1.9p490

[2017-10-24 08:54] antoineco commented on #37
Alright, and what about the Puppet server version?

I've seen so many issues with environment caching that I can't help asking a stupid question: did you try restarting the Puppet server in order to invalidate your environment's cache?

If yes, I think a simple solution would be to load the Util module using its full path. Eg.

[code]

I don't have a Puppet server at hand right now but I'll give i

[2017-10-24 09:15] noqqe commented on #37
Whoops, sorry.

puppetserver is 2.7.2-1puppetlabs1. And yes, I know what you are talking about :) I've restarted multiple times because of caching

[2017-10-25 21:21] paesano2003 commented on #37
Hello,

This is my first comment ever, so I apologize in advanced if I didn't follow proper etiquette.

Having the same issue here when attempting to apply JDK 8u151 and 8u152, with and without specifying checksum/build/url_code.  Even when specifying the full path to load puppet_x/util.rb inside oracle_sso.rb, it fails with:

[code]

I made the following change inside oracle_java/manifests/downlo

[2017-10-26 06:19] antoineco commented on #37
@paesano2003 it seems like you're having another issue with some custom fact (package_provider.rb):

`Facter: error while resolving custom facts in /opt/puppetlabs/puppet/cache/lib/facter/package_provider.rb: Could not autoload puppet/provider/package/aptrpm: Operation not permitted @ rb_sysopen`

Regarding the other error:
`undefined method 'empty?' for #<URI::HTTP:0x446c735f> `
I'm not even usin

[2017-10-26 10:33] antoineco commented on #37
@noqqe @paesano2003 could you both try the referenced PR ☝️  in your environment?

[2017-10-26 12:32] antoineco commented on #37
Alright I understand the issue now. Puppet Server interprets Ruby code using jruby 1.7.27 (1.9.3p551), I did all my test with Ruby 2+, which has a `uri()` method for HTTPResponse objects.

I'm refactoring my code to play nice with Puppet Server.

[2017-11-06 00:48] cliffano opened #39 "Inconsistent proxy setting mechanism"
For proxy setting in aco-oracle_java, is the intention for user to explicitly set proxy setting as attributes? or for user to set environment variables and then aco-oracle_java will honour http_proxy, https_proxy, and no_proxy?

`download.pp` manifest explicitly set the proxy setting by setting Archive proxy attributes https://github.com/antoineco/aco-oracle_java/blob/master/manifests/download.pp#

[2017-11-06 01:04] cliffano opened #40 "oracle_sso function can't connect from behind proxy"
Could you please confirm whether oracle_sso function works behind a proxy?

I have tried setting up both
a) environment variables proxy setting (`http_proxy, HTTP_PROXY, https_proxy, HTTPS_PROXY, no_proxy, and NO_PROXY`)
b) oracle_java's `proxy_server` attribute
but I kept getting connection error to `download.oracle.com`

I could only get it working by explicitly passing the proxy details to `Net

[2017-11-06 06:42] antoineco commented on #39
You're right, I did not implement proxy support in the `oracle_sso` function, thanks for pointing this out!

There is no *preferred* way to configure the proxy, but the custom function should definitely consume `proxy_*` parameters. I'll do it as soon as I'm done fixing the SSO function (see #40).

[2017-11-06 06:55] antoineco commented on #40
Proxy parameters should be handled by the function but they're currently not (see referenced issue). As an interim solution I would have expected the environment variables to work though. Are you sure these were set in the context of your puppet run? Are you running in agent/server mode?

Regarding the broader connection issues, Oracle had the wonderful idea to change their SSO service 2 weeks aft

[2017-11-06 20:39] antoineco commented on #37
Everything should work now on the `handle-include-loaderror` branch. I'll try it tomorrow with a fresh Puppet Server, unless someone confirms first :)

[2017-11-06 20:44] antoineco commented on #39
@cliffano can I close this in favour of the other issue you opened? I think the goal is the same.

[2017-11-06 20:50] paesano2003 commented on #37
@antoineco thanks for the great module and quick turnaround!  Looking forward to the new release.

[2017-11-06 23:03] #37 closed

[2017-11-07 04:19] cliffano commented on #39
Sure thing. Closing this one, resuming discussion on #40 .

[2017-11-07 04:19] #39 closed

[2017-11-07 04:27] cliffano commented on #40
Yes, I debugged all ENV's http_proxy, HTTP_PROXY, https_proxy, and HTTPS_PROXY right before the line with `response = Net::HTTP.start` . Confirmed that the values are set correctly.

I was running Puppet masterless. Not agent/server mode.

My initial expectation from reading the documentation of oracle_java, I was hoping that the env vars proxy to be honoured as a fallback, and only overwritten if

[2017-11-07 09:22] antoineco commented on #40
You're absolutely right, I neglected the proxy parameters when I wrote the feature because of the sense of urgency (users of my module were pretty much stuck because of Oracle's SSO), and I use a transparent proxy myself so I didn't see that issue.

It's a easy fix, I'll try to push it this week. In the meantime I recommend using v2.8.3.

[2017-11-07 22:20] cliffano commented on #40
Oracle sure doesn't make it easy for the users :).

Btw, I tried v2.8.3 and I got this error `Unreleased Java SE version 8u151`. Pretty sure this is the same issue that happened after Oracle changed JDK download process, and the reason why I upgraded to v2.9.x .

[2017-11-07 22:27] antoineco commented on #40
Ah, yes if you absolutely want that version on v2.8 you'll have to pass the checksum and URL manually via parameters. If not, you'll get 8u144 by default.

[2017-11-07 22:38] cliffano commented on #40
I'm happy to downgrade for the time being :).

[2017-11-10 15:35] ericlaflamme opened #41 "Can't convert Hash into String"
Hi,

I'M trying the last commit to resolve the Empty? problem but I have this error now:

`Error: can't convert Hash into String at /oracle_java/manifests/download.pp:33`

Do I did something wrong?

Thanks,

[2017-11-10 16:24] antoineco commented on #41
@ericlaflamme are you running in standalone or client/server mode? Which Puppet version?

[2017-11-10 16:46] ericlaflamme commented on #41
It's standalone, I'm provisionning my VM with vagrant. The version of puppet is 3.8.7 on Centos 6.9.

[2017-11-12 11:06] antoineco commented on #41
Could it be that you're still using Ruby 1.8?

On a fresh CentOS 6.9 with Ruby 1.9.3 and Puppet 3.8.7:

[code]

And with credentials, in debug mode:

[code]

[2017-11-13 11:14] itsnotify opened #42 "Error when trying to install Java 8 151"
Hi,

I'm getting the following error with the module:
Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Function Call, Could not autoload puppet/parser/functions/oracle_sso: no such file to load -- puppet_x/util at /etc/puppetlabs/code/environments/production/modules/oracle_java/manifests/download.pp:33:17 on xxxxx.

[2017-11-13 11:16] antoineco commented on #42
Hi @itsnotify,

This is a known issue which is now (hopefully) fixed on the master branch. Would you mind trying it?

[2017-11-13 11:37] ghost commented on #42
Sure, I'll be happy to help.

[2017-11-13 11:46] ghost commented on #42
Hi, Yes that seems to do the trick. It's now retrieving and updating the plugin on the agents :)

The manifest is now wanting to upgrade Java. When do you think the fix will be uploaded to the forge?

[2017-11-13 11:48] antoineco commented on #42
I'm pushing a fix for #40 today, as soon as the OP confirms it works for him I'll draft a new version.

[2017-11-13 12:20] ghost commented on #42
Okay Thanks :)

[2017-11-13 12:48] ericlaflamme commented on #41
It must be it. I don't know how you manage to have ruby 1.9.3 on centos 6.9 since the official repo only provide 1.8.7. Guess I have to find a way to install 1.9.3 now. Thank you very much for your time.

[2017-11-13 12:48] #41 closed

[2017-11-13 13:18] antoineco commented on #41
I used RVM and installed Puppet as a Gem. The Ruby situation on CentOS 6 is a bit complicated because Puppet deprecated Ruby 1.8 a while ago, yet older OSes don't even have a newer Ruby version available.

Puppet provides a very handy solution: [PC1 repos](http://yum.puppetlabs.com/). If you install the `puppet-agent` package from `puppetlabs-release-pc1-el-6.noarch.rpm` you'll get `puppet` fully

[2017-11-13 17:34] ericlaflamme commented on #41
Thank you very much, very useful informations. I'm back in a working state.

[2017-11-13 17:36] antoineco commented on #41
Great! Which version did you install, just by curiosity?

[2017-11-13 17:41] ericlaflamme commented on #41
Since I'm using vagrant-puppet-install (5.0.0) to automatically install puppet in the VM, I told the plugin to install puppet 4.10.8. I wish I could put latest but it install puppet 5.

So my puppet version is 4.10.8 and you are right, ruby 1.9 is included.

[2017-12-05 15:23] tomashejatko commented on #40
Hello, do we know workaround pls?
I cannot use older version, because it looks that older versions of Java are not available anymore :
`Error: Execution of '/usr/bin/curl http://download.oracle.com/otn-pub/java/jdk/8u144-b01/090f390dda5b47b9b721c7dfaa008135/jre-8u144-linux-x64.tar.gz -o /tmp/jre-8u144-linux-x64.tar.gz_e3808f24d0f588b0c313fa18b50683c620171205-26143-n07uyb -fsSL --max-redirs 5 --coo

[2017-12-05 15:29] antoineco commented on #40
@arteal can you try the branch mentioned above?

[2017-12-05 15:37] tomashejatko commented on #40
I'm using current HEAD, my Puppetfile :

mod 'aco-oracle_java',
  :git      => 'https://github.com/antoineco/aco-oracle_java.git',
  :ref      => 'cb5c29cfe9c41978d86fa0116494f9d36818cc3c'

And I use proxy_server parameter :

  class { 'oracle_java':
    version         => '8u151',
    type            => 'jre',
    add_alternative => true,
    proxy_server => "http://${proxy}"
  }

It works only i

[2017-12-05 15:43] antoineco commented on #40
Your current HEAD is the master branch, not the sso-proxy branch.

[2017-12-05 15:59] tomashejatko commented on #40
Ah, I'm really sorry, I've missed that. Now I am on sso-proxy branch, but unfortunately it is still not working for me :( I have pulled right version, merged that from development to production environment, restarted puppet master, but I still got :

Error: Could not retrieve catalog from remote server: Error 400 on SERVER: Evaluation Error: Error while evaluating a Function Call, Connection refus

[2017-12-06 14:52] roman-pomyanskiy opened #44 "Error: Could not set 'file' on ensure: Is a directory @ rb_sysopen - /usr/java/jdk1.8.0_144"
Hi,
I'm getting the following error in my Ubuntu 16.04 and module 2.9.1

Notice: /Stage[main]/Oracle_java::Install::Targz/File[/usr/java/jdk1.8.0_144]: Not removing directory; use 'force' to override
Notice: /Stage[main]/Oracle_java::Install::Targz/File[/usr/java/jdk1.8.0_144]: Not removing directory; use 'force' to override
Error: Could not set 'file' on ensure: Is a directory @ rb_sysopen - /usr

[2017-12-06 20:21] antoineco commented on #44
Leftovers from a previous installation maybe?

[2017-12-07 08:22] roman-pomyanskiy commented on #44
I cloned your module into an internal gitlab and fixed the file resource file { "${oracle_java::install_path}/${oracle_java::longversion}":  in https://github.com/antoineco/aco-oracle_java/blob/master/manifests/install/targz.pp. I add ensure   => directory and this fixed a mistake. Please correct this in your code.

[2017-12-12 14:25] ajardan commented on #42
@antoineco I unfortunately get an error from the master branch:

[code]

When trying to download an older version (8u72)

Any ideas how can I fix ?

[2017-12-28 01:04] squaricdot opened #45 "Could not autoload puppet/parser/functions/oracle_sso: no such file to load"
Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Function Call, Could not autoload puppet/parser/functions/oracle_sso: no such file to load -- /etc/puppetlabs/code/modules/oracle_java/lib/puppet_x/aco/util at /etc/puppetlabs/code/environments/my_dev/modules/oracle_java/manifests/download.pp:33:17

Puppet agent 5.3.3

[2018-01-19 14:30] dalesit opened #49 "version 2.9.1 no longer working"
Presumably with the newer versions being released on 16/1/18...

[code]
Running with current master latest works fine. Looks like new release required...

[2018-01-19 14:42] antoineco commented on #49
That's right, I wanted to have #43 merged before releasing but the OP didn't respond. Screw that, let's release :)

[2018-01-19 17:04] antoineco commented on #49
Released https://forge.puppet.com/aco/oracle_java/2.9.2/changelog

[2018-01-19 17:04] #49 closed

[2018-01-20 11:35] antoineco commented on #45
This is fixed in the latest release (v2.9.2). Thanks for reporting! 🙌

[2018-01-20 11:35] #45 closed

[2018-01-20 11:42] antoineco commented on #44
Can't reproduce on a fresh Ubuntu 16.04 installation.

**Execution script**

[code]
[code]

I'm convinced the issue is caused by leftovers from a previous installation, Puppet knows how to manage directory dependencies.

Closing

[2018-01-20 11:42] #44 closed

[2018-01-20 11:47] antoineco commented on #42
This issue is fixed in v2.9.2.

[2018-01-20 11:47] #42 closed

[2018-01-22 16:59] itsnotify opened #50 "Yum / RPM installation issue"
Hi,

We have the following in a manifest to install Java 161.
  class { 'oracle_java':
    version         => '8u161',
    type            => 'jdk',
    add_alternative => true,
    ssousername     => 'username@domain.com',
    ssopassword     => 'password123',
    before          => Java_ks['server.domain.com:truststore'],
  }

This installed perfectly on our CentOS 7 server:
`[16:01]root@servern

[2018-01-22 17:47] antoineco commented on #50
Found the culprit: https://github.com/antoineco/aco-oracle_java/commit/da907c998fcadc885dfcab7d8fb51dbcf15421dd#diff-60ae41fd0a31977447947f59940ee9a4R200

Thanks for reporting 👍

[2018-01-22 19:02] antoineco commented on #50
Fixed in [v2.9.3](https://forge.puppet.com/aco/oracle_java/2.9.3/changelog)

[2018-01-22 19:02] #50 closed

[2018-01-24 11:47] DonK5hot opened #51 "puppet/parser/functions/oracle_sso: undefined method `path' for nil:NilClass"
Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Server Error: Evaluation Error: Error while evaluating a Function Call, Could not autoload puppet/parser/functions/oracle_sso: undefined method `path' for nil:NilClass at /etc/puppetlabs/code/environments/general_test/modules/oracle_java/manifests/download.pp:33:17 on node ...

[2018-01-24 11:54] antoineco commented on #51
@DonK5hot could you please provide more information about your environment (Puppet agent/server versions) and the parameters you pass to the module?

[2018-01-24 12:07] DonK5hot commented on #51
### env
[code]
### java config:
[code]

[2018-01-24 12:31] antoineco commented on #51
Any chance to execute the run again with the debug flag and post the output from Puppet Server?

[2018-01-24 12:58] DonK5hot commented on #51
[debug.txt](https://github.com/antoineco/aco-oracle_java/files/1659868/debug.txt)

Attached debug, not sure how useful it is, the only error seem to be one missing arg in /modules/oracle_java/manifests/download.pp
[code]

caused by missing fileuri in : /opt/puppetlabs/puppet/cache/lib/puppet/parser/functions/oracle_sso.rb
[code]

[2018-01-24 13:17] antoineco commented on #51
The agent logs won't tell you anything about the error unfortunately because the catalog compilation is happening server side, only the Puppet Server logs can shed lights on the issue.

That said I already see a potential issue:
[code]
This parameter is misused. `installation` is a Puppet type, not a class parameter.
I think you meant:
[code]

[2018-01-25 08:25] DonK5hot commented on #51
That doesn't really matter, hiera will ignore it and use the default, jre, I just took out that line.
Anyway, I just use oracle_java::add_system_env : true and version 2.8.2, everything works.
Good enough for me.
Thanks!

[2018-01-25 08:25] #51 closed

[2018-02-28 21:45] ngeorgieff commented on #45
I'm getting the same error with version 2.9.3
- puppet-enterprise-release-2017.3.0.0-1
- puppet agent 5.3.2-1

[code]

[2018-04-30 16:45] Enrice opened #54 "connect timeout when using proxy"
Hello. I actually was able to use a proxy through setting it in the environment, but our proxy seems to be too slow on providing a connection because it scans the download beforehand.

I get:
`Error: Evaluation Error: Error while evaluating a Resource Statement, Evaluation Error: Error while evaluating a Function Call, Connection timed out - connect(2) for "download.oracle.com" port 80 at /data/co

[2018-05-22 12:25] wysockip commented on #40
Hi @antoineco
By any change can I get some update how to get this stuff working? (proxy + sso). Which version i should use?

[2018-05-22 15:10] antoineco commented on #40
@wysockip this feature has not been released but you can try to checkout the `sso-proxy` git branch. If this works fine for you I can include it in the next release, I just need testers since I don't have a proxy server at hand.

[2018-05-23 07:41] wysockip commented on #40
so i have this part in my agent.pp:

class { 'oracle_java':
  format       => 'tar.gz',
  install_path => '/usr/java',
  ssousername => 'mymail',
  ssopassword => 'mypass',
  type    => 'jdk',
  check_checksum  => false,
  version  => '8u161',
  build    => '-b12',
  urlcode  => '/2f38c3b165be4555a1fa6e98c45e0808'
  proxy_server => 'http://10.10.10.10:12345'
}

and it's giving me:
Error: Could not

[2018-05-23 08:35] tomashejatko commented on #40
I have set it up in code, even in ENV vars, but still not working for me - same error as @wysockip